<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\Css/createAccount.css">
    <link rel="stylesheet" href="/static/Css/createAccount.css">
    <title>Créer un compte</title>
</head>
<body background="../login-background.jpg">
    
    
    <div id="formContainer">
        <h2>Créer un compte</h2>
        <form method="post" id="formulaire">
            <label for="prenom">Prenom</label>
            <input type="text" id="prenom"><br>
            <label for="nom">Nom</label>
            <input type="text" id="nom"><br>
            <label for="Email">Email</label>
            <input type="text" id="Email"><br>
            <label for="mdp">Mot de passe</label>
            <input type="text" id="mdp"><br>
            <input type="submit" value="Sign In" id="button">
        </form>
    </div>
    
    <script>
        const form = document.getElementById("formulaire");
        
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            
            const prenom = document.getElementById("prenom").value;
            const nom = document.getElementById("nom").value;
            const email = document.getElementById("Email").value;
            const mdp = document.getElementById("mdp").value;
            
            const data = { prenom, nom, email, mdp };
            
            console.log(data);
        });
        
        
    </script>
</body>
</html>