<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\Css/Login.css">
    <title>Login</title>
</head>

    <body>

        <div id="formContainer">
            <h2>Se connecter</h2>
            <form class="form__group">
                <input type="input" class="form__field" placeholder="Name" name="Email" id='Email' required />
                <label for="name" class="form__label">Mail/Username</label>
            </form>
            <form class="form__group"  id="formulaire">
                <input type="password" class="form__field" placeholder="Name" name="Password" id='Password' required />
                <label for="name" class="form__label">Mot de passe</label>
                <input type="submit" value="Log In" id="button">
            </form>
        </div>
    </body>
    <script src="/js/main.js"></script>
</html>