<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static\Css/Login.css">
    <title>Login</title>
</head>
    <body>
        <a href="./Home.html" >Home</a>
        <div id="formContainer">
            <h2>Se connecter</h2>
            <form method="post" id="formulaire">
                <label for="Email">Email</label>
                <input type="text" required id="Email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
                <label for="mdp">Mot de passe</label>
                <input type="text" id="mdp"><br>
                <input type="submit" value="Log In" id="button" required>
            </form>
        </div>
    </body>
    <script src="/js/main.js"></script>
</html>