#formContainer{
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.203);
    border-radius: 12px;
    width: 80rem;
    height: 40rem;
}

#formContainer input{
    display: flex;
    width: 10rem;
    border-radius: 12px;
    height: 1.5rem;
}

#formContainer input[id=Description]{
    display: flex;
    width: 40rem;
    border-radius: 12px;
    height: 5.5rem;
}

#formContainer input[type=file]{
    display: flex;
    width: 40rem;
    border-radius: 12px;
    height: 1.5rem;
}

#formContainer h2{
    display: flex;
    align-self: center;
    padding: 2rem;
}

body{
    width:max-content;
    background-repeat: no-repeat;
    background-size: cover;
}

#formContainer button{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 5rem;
    border-radius: 8px;
}

#formContainer form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#button{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 5rem;
    border-radius: 8px;
}

output{
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  border-radius: 5px;
}

output .image{
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

output .image img{
  height: 100%;
  width: 100%;
}

output .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

output .image span:hover {
  opacity: 0.8;
}

output .span--hidden{
  visibility: hidden;
}