#formContainer-addproduct{
  margin-top: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0.203);
  border-radius: 12px;
  width: 60%;
  height: 80%;
}

#formContainer-addproduct h2{
  display: flex;
  align-self: center;
  padding: 2rem;
}

#table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#table-left{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

#table-right{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

#label-addproduct{
  text-align: center;
  margin-top: 10%;
  width: auto;
  border-radius: 8px;
}

#form-addproduct{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-addproduct{
  justify-content: center;
  background-color: transparent;
  width: 190px;
  height: 30px;
  border: none;
  outline: 0;
  border-bottom: 2px solid #000;
}

#formContainer input[type=file]{
  display: flex;
  width: 40rem;
  border-radius: 12px;
  height: 1.5rem;
}

#button-addproduct{
  margin-top: 10%;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #11998e;
}

output{
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  border-radius: 5px;
}

output .image{
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

output .image img{
  height: 100%;
  width: 100%;
}

output .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

output .image span:hover {
  opacity: 0.8;
}

output .span--hidden{
  visibility: hidden;
}