*{
    margin: 0;
    padding: 0;
}
.h1-header{
    color: #000;
    padding: 20px 100px 20px 20px;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
a:hover{
    color: blue;
}
.header{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-right .login img{
   padding: 10px 50px 10px 30px;
}
/* réduire la taille du texte h1 qaund la taille de l'écran atteint 470px */
@media screen and (max-width: 470px){
    h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 442px){
    h1{
        font-size: 15px;
    }
}
